<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body>
    <main class="h-screen w-screen overflow-hidden flex flex-col bg-white-100">
      <div class="flex-1 flex flex-row h-full">
        <!-- Sidebar -->
        <div
          class="flex-[2] px-4 py-2 border-r h-full flex flex-col justify-between"
        >
          <div
            class="flex flex-col items-start w-full bg-white shadow-lg p-3 rounded-md"
          >
            <h2 class="text-xl font-bold teach_class">Neural Netwok and Fuzzy Set</h2>
            <h3 class="text-sm self-end text-gray-700 teach_er">Manoj Gupta</h3>
            <p class="text-sm text-gray-500 teach_time">Started: 15:45:12</p>
          </div>
          <div class="flex flex-col space-y-4">
            <button
              class="bg-white-100 text-cyan-600 shadow-lg font-bold text-lg py-4 w-full rounded-md mx-auto border-2 hover:border-green-300 duration-100 control-button border-gray-200"
            >
              Start
            </button>
            <button
              class="bg-white-100 text-cyan-600 shadow-lg font-bold text-lg p-4 mx-auto w-full rounded-md border-2 hover:border-red-300 duration-100 exit border-gray-200" onclick="redirect()"
            >
              Exit
            </button>
          </div>
        </div>
        <!-- captions -->
        <section class="flex-[6] p-6 flex lyrics-section">
          <p
            class="font-semibold text-gray-400 text-3xl overflow-y-auto scrollbar-hide lyrics_para"
          >
        <!-- LYRICS PARA -->
	  getting captions...
          </p>
        </section>
        <!-- rightside -->
        <div class="flex-[4] flex flex-col px-4 py-6 border-l space-y-4">
          <div
            class="bg-gray-50 p-4  flex flex-col items-start rounded-md shadow-md max-h-[25rem] overflow-y-auto scrollbar-hide source-section"
          >
            <h3 class="text-xl font-semibold" >Sources</h3>
            <p class="source_para text-gray-400" >
        <!-- SOURCE PARA -->
	    sources will appear here...
            </p>
          </div>
          <div
            class="bg-gray-50 p-3 flex flex-col items-start rounded-md shadow-lg max-h-[25rem] overflow-auto scrollbar-hide summary-section"
          >
            <h3 class="text-xl font-semibold">Notes</h3>
            <p class="summary_para text-gray-400">
        <!-- SUMMARY PARA -->
	summary will appear here...
            </p>
          </div>
        </div>
      </div>
      <!-- Player -->
      <div class="flex"></div>
    </main>
        <script type="text/javascript">
	let curr = `${window.location.href}`
	const arr = curr.split("/")

	

	let contents = {
				lyrics_para: "",
				source_para: "",
				summary_para: "",
				teach_class: "",
				teach_time: "",
				teach_er: "",

			}

				
	let firs = {
				lyrics_para: true,
				source_para:true ,
				summary_para:true ,
				teach_class: false,
				teach_time: false,
				teach_er: false,
			}

	let pk = arr[4]

        let url = `ws://${window.location.host}/ws/teach/${pk}`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
		
            console.log('Data:', data)

	    let d_text = data.d_text
	let d_type = data.d_type

	console.log(d_type)
	console.log(d_text)

	
	let d_area = document.getElementsByClassName(`${d_type}`)[0]
	
	contents[d_type] += ` ${d_text}`

				if (firs[d_type]){
							firs[d_type] = false
							d_area.classList.remove("text-gray-400")
							d_area.classList.add("text-gray-700")
						}
	
	d_area.innerHTML = contents[d_type]
	
	d_area.scrollTop = d_area.scrollHeight - d_area.clientHeight;

	}
	
	
	



	var button = document.getElementsByClassName("control-button")[0]
	button.addEventListener("click", toggle_rec)

	let device = navigator.mediaDevices.getUserMedia({audio: true, video: false});
	
	let recorder = ''

	var recording = false
	var paused = false
	
		record = async() => {
		if(paused == false){
		device.then(stream => {
			recorder = new MediaRecorder(stream)
			recorder.ondataavailable = e => {
				console.log(e.data);
			//	chunks.push(e.data)

				let data = {
					a_type: "trans",
					audio: e.data
				}
				
				chatSocket.send(e.data)
				console.log(data)


//			if (chunks.length == 10){
//					    console.log("playing")
//				 const blob = new Blob(chunks);
//
//				var blobUrl = URL.createObjectURL(blob);
					
//			var link = document.createElement("a"); // Or maybe get it from the current document
//			link.href = blobUrl;
//			link.download = "aDefaultFileName.mp3";
//			link.innerHTML = "Click here to download the file";
//			document.body.appendChild(link); // Or append it whereever you want
//
//				}
				    }

			recorder.start(3000)
			    })
				    }
			else{
			recorder.resume()
				    }
			recording = true
			paused = false
	}

	function pause(){
		recorder.pause()
		paused = true
		recording = false
		    }


	async function toggle_rec(){
			    if (recording == false){
						await record()
						button.innerHTML = "Pause"
					}
			    else{
					 pause()
						button.innerHTML = "Resume"
				}
		    }

	function redirect(){

				window.location.href = `${window.location.origin}/teacher`
			}
	
	
	var intervalId = window.setInterval(function(){
				strin = "stringeri"
				var strBytes = new Uint8Array(strin);
				for (let i = 0; i < 8; i++) {
							strBytes[i] = "a"
}
				chatSocket.send(strBytes)
	}, 30000);

	</script>

  </body>
</html>
