{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard : Student</title>
  </head>
  <body>
{% if messages %}
<div class="alert alert-success alert-dismissible">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
<h1>welcome to Students Dashboard</h1>
<br>
{% for data in data%}

you are currently registered with course no : <a href="/classroom/{{data.course_id}}/student/">{{ data.course_id}}</a><br>

{% endfor %}

<form method="post">
    {% csrf_token %} 
    <fieldset>
       <legend>Add Course</legend>  
       <label>Enter your Course ID</label><br>  
       <input type="number" name="id"><br>   
       <input type="submit" value="submit">  
    </fieldset>  
 </form>  

<script type="text/javascript">
let url = `ws://${window.location.host}/ws/dash/`

const chatSocket = new WebSocket(url)

chatSocket.onmessage = function(e){
    let data = JSON.parse(e.data)
    console.log('Data:', data)
}

</script>

</body>
</html>

