{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profession!!!</title>
  </head>
<body>


<h1>GOOGLE AUTHENTICATION </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
  <br>
  
  <h1>Kindly choose your profession {{ user.username }}</h1>
  <br>
    <form method="post">
        {% csrf_token %}
        <p>Please select your Profession:</p>
        <input type="radio" id="teacher" name="profession" value="teacher">
        <label for="html">Teacher</label><br>
        <input type="radio" id="student" name="profession" value="student">
        <label for="css">Student</label>
        <br>  
        <input type="submit" value="Submit">
    </form>
{% else %}
{% endif %}
</body>
</html>